name: MLflow Training CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run .
