name: MLflow Training CI

on:
  push:
    branches: [main]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install pandas scikit-learn mlflow==2.10.1

      - name: Run model training directly
        run: |
          cd MLProject
          python modelling.py
