name: CI - MLflow Project

on:
  push:
    branches: ["main"]

jobs:
  mlflow-project:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run .
